* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Lora;
}

.navbar {
    background: transparent;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    background-color:black;
    background-image: black;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color : transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-family:monospace;
}

.fa_gem {
    margin-right: .5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: none;
    
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    background-color:black;
    background-image: black;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color : transparent;
    display: flex;
    height: 100%;
    padding: 0 1rem;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.navbar__links:hover {
    color: mediumpurple;
    transition: all 0.3s ease;
}

.image1 {
    width: 100px;
    height: 100px;
    padding: 1rem;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -10000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #E9E3D2;
    }
    .navbar__menu.active {
        background: #E9E3D2;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 90;
        height: 35vh;
        font-size: 1.6rem;
    }

    #navbar_logo{
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: black;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    } 

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;

    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .main_content1 {
        margin: 150px auto;
        width: 50%;
    }
    
    .main_content2 {
        margin: 150px auto;
        width: 50%;
    }
    
    .main_content3 {
        margin: 150px auto;
        width: 50%;
    }
}

body {
    background-color:floralwhite;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
}

.main__container {
    display:inline-block;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color:floralwhite;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main_content1 {
    margin: 150px auto;
    width: 50%;
}

.main_content2 {
    margin: 150px auto;
    width: 50%;
}

.main_content3 {
    margin: 150px auto;
    width: 50%;
}

.img1 {
    max-width: 320px;
    float: right;
    border: 3px solid #131313;
    border-radius: 10px;
    margin-left: 15px;
}

.main__container h1 {
    text-decoration: underline;
    text-decoration-color:#a5ba93;
}

.main__container h2 {
    text-decoration: underline;
    text-decoration-color:#a5ba93;
}
.main_content1 p {
    margin: 12px auto;
    font-family: Lora;
    font-size: 20px;
    line-height: 32.5px;

}


.main_content2 p {
    margin: 12px auto;
    font-family: Lora;
    font-size: 20px;
    line-height: 32.5px;
}

.img2 {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border: 3px solid #131313;
    border-radius: 10px;
}

.foot {
    display: flex;
    justify-content: center;
}

.foot a {
    text-decoration: none;
    padding: 10px;
    background-color: transparent;
    margin: 10px;
    border-radius: 50%;

}

.foot a i {
    font-size: 2rem;
    color: black;
    opacity: .9;

}

.foot a:hover {
    background-color:floralwhite;
    transition: .5s;
}

.foot a:hover i {
    background-color: floralwhite;
    transition: .5s;
}



.image_slide {
    position: relative;
    width: 650px;
    height: 500px;
    margin: 10px;
    background: floralwhite;


}

.image_slide .slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 5%);
}

.image_slide .slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}


.image_slide .slide img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
}

.image_slide .slide .info {
    position: absolute;
    top: 0;
    padding: 15px 30px;

}

.image_slide .slide .info h2{
    color: black;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    text-decoration: none;
}

.image_slide .slide .info p {
    color: black;
    background: rgba(0,0,0,0.1);
    font-size: 16px;
    width: 60%;
    padding: 10px;
    border-radius: 4px;
}

.image_slide .navigation {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.image_slide .navigation .btn {
    background: rgba(0,0,0,.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.image_slide .navigation .btn.active {
    background: #2696E9;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

@media (max-width: 420px) {
    .image_slide {
        width: 320px;
        height: 300px;
    }

    .image_slide .slide .info{
        padding: 5px 10px;
    }

    .image_slide .slide .info h2{
       font-size: 25px;
    }

    .image_slide .slide .info p{
        width: 90%;
        font-size: 11px;
    }

    .image_slide .navigation {
        bottom: 10px;
    }
}